
{% extends "base.html" %}


{% block title %}Summary{% endblock %}

{% block current_date %} {{current_date.p}} {% endblock %}

{% block content %}


{% if breadcrumb %}
<ul class="breadcrumb well">
    {% for x in breadcrumb %}
	{% if forloop.last %}
	<li class="active">{{x.name}}</li>
	{% elif forloop.first %} 
	<li><a href="/{{ x.link }}/">{{x.name}}</a> <span class="divider">/</span></li>
	{% else %}
	<li class="hidden-phone"><a href="/{{ x.link }}/">{{x.name}}</a> <span class="divider">/</span></li>
	{% endif %}
	{% endfor %}
</ul>  	
{% endif %}	

<div class="row-fluid">
  <div class="span5">
    
		<form class="well" method="post">{% csrf_token %}
		 
		  {{ form_job }}   
		  
		 <div>
		<input type="submit" class="btn" value="submit" />
		<input type="hidden" name="next" value="{{ next }}" />   
	    </div>
		</form>  
    
	
  </div><!--/span-->
  <div class="span7">
	  <!-- Main hero unit for a primary marketing message or call to action -->
	  <div class="hero-unit">
	    <h2> Job Query Tool </h2>
	    <p>Access the system health for the nodes utilized by your job.</p>
		<p>Query by <b>Username</b> or <b>Job ID</b>
		
	    </p>
	  </div>	  
		  
  </div><!--/span-->
</div><!--/row-->







 <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-datepicker.js"></script>
 <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-timepicker.js"></script>
<script type="text/javascript">
	$(function(){
		
		$('#dp3').datepicker();
		$('#dp1').datepicker();
	
	});
	
    $(document).ready(function () { 
        $('.timepicker-default').timepicker({
        	showSeconds: false,
			minuteStep: 20,
			disableFocus: true,
			defaultTime: false
        });
    });
	
</script>


{% endblock %}



