
{% extends "base.html" %}


{% block title %}Summary{% endblock %}

{% block current_date %} {{current_date.p}} {% endblock %}

{% block content %}


{% if breadcrumb %}
<ul class="breadcrumb well">
    {% for x in breadcrumb %}
	{% if forloop.last %}
	<li class="active">{{x.name}}</li>
	{% elif forloop.first %} 
	<li><a href="/{{ x.link }}/">{{x.name}}</a> <span class="divider">/</span></li>
	{% else %}
	<li class="hidden-phone"><a href="/{{ x.link }}/">{{x.name}}</a> <span class="divider">/</span></li>
	{% endif %}
	{% endfor %}
</ul>  	
{% endif %}	

<div class="row-fluid">
  <div class="span5">
    <div class="well sidebar-nav">
   
		<form action="" method="post">{% csrf_token %}
			
			
			<p><label>Job ID</label> {{ form.job_id }} </p>
			<p>{{ form.node_name.errors }}</p>
			
			<p><label>Node name</label> {{ form.node_name }} </p>
			<p>{{ form.node_name.errors }}</p>
			<div>	
	
			<div class="input-append date" id="dp3" data-date="2012-10-13" data-date-format="yyyy-mm-dd">	
			 <label>Date and Time</label>
			 {{ form.date }}
			 <span class="add-on"><i class="icon-th"></i></span>
			 {{ form.date.errors }}
			</div>	
		    <div class="input-append bootstrap-timepicker-component">
		    {{ form.time }}
		    <span class="add-on"><i class="icon-time"></i></span>
		    {{ form.time.errors }}
		    </div>
			</div>
		    <p>
		<input type="submit" class="btn" value="get data" />
		</p>
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
   
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span7">
	  <!-- Main hero unit for a primary marketing message or call to action -->
	  <div class="hero-unit">
	    <h2> Node Health </h2>
	    <p>Access to node-level continuous data based on a nodes and optional date and time information.
	    </p>
	  </div>	  
		  
  </div><!--/span-->
</div><!--/row-->







 <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-datepicker.js"></script>
 <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-timepicker.js"></script>
<script type="text/javascript">
	$(function(){
		
		$('#dp3').datepicker();
		$('#dp1').datepicker();
	
	});
	
    $(document).ready(function () { 
        $('.timepicker-default').timepicker({
        	showSeconds: false,
			minuteStep: 20,
			disableFocus: true,
			defaultTime: false
        });
    });
	
</script>


{% endblock %}



